* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans Condensed", sans-serif;
}

.App {
	text-align: center;
	position: relative;
}

.text-white {
	color: white;
}

.text-black {
	color: black;
}

.link {
	text-decoration: none;
	color: inherit;
}

.link:hover {
	text-decoration: none;
	color: inherit;
}
