.cart-page {
	width: 90vw;

	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.cart-page h1 {
	font-weight: bolder;
	font-size: 5rem;
	margin-bottom: 5rem;
}

.cart-page .product-array {
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: wrap;
	height: auto;
}

.cart-page .cart-continue {
	margin-top: 10rem;
}
