.category-collection {
	position: relative;
}

.category-collection .bg-img {
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

.category-collection .hero-content {
	position: absolute;
	z-index: 100;
	left: 51.5%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.category-collection .hero-content h1 {
	margin: 1rem 0;
	font-size: 7rem;
	font-weight: 500;
}

.category-collection .hero-content p {
	font-size: 2rem;
	font-family: "Rajdhani", sans-serif;
	font-weight: 300;
}
