.navbar {
	position: absolute;
	top: 1rem;
	left: 0;
	height: 3rem;
	z-index: 10;
	background-color: transparent;
	color: black;
	padding-top: 1rem;
}

.navbar .topbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
	width: 100vw;
}

.navbar .topbar .navigation img {
	width: 3rem;
	height: 3rem;
	transform: translateY(-1rem);
	filter: invert(0%) sepia(11%) saturate(7495%) hue-rotate(255deg)
		brightness(93%) contrast(97%);
	cursor: pointer;
	margin-left: 1rem;
}

.navbar .topbar .logo {
	font-family: Prata;
	font-family: 300;
	font-size: 4rem;
	margin: 0 4rem;
}

.navbar .topbar h3 {
	align-self: flex-end;
	font-size: 2rem;
	transform: translateY(0.5rem);
}

.navbar .cart {
	width: 3rem;
	height: 3rem;

	cursor: pointer;
}

.navbar .navigation {
	display: flex;
}

.navbar .topbar h2 {
	font-size: 2rem;
}
/*--------------SIDEBAR-------------*/

.navbar .navigation .sidebar {
	width: 23vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: black;
	color: white;
	padding: 3rem;
	transform: translateX(-30vw);
	height: 100vh;
	transition: all 0.5s ease-out;
}

.navbar .navigation .show {
	transform: translateX(0);
}

.navbar .topbar .navigation .sidebar img {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(207deg)
		brightness(105%) contrast(104%);
}

.navigation .sidebar h1 {
	font-size: 3rem;
	font-weight: 700;
	margin-top: 5rem;
}

.navigation .sidebar .sidebar-category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navigation .sidebar .sidebar-category h1 {
	font-size: 3rem;
	margin-top: 2rem;
	font-weight: 300;
	border-bottom: 2px solid black;
	text-align: center;
	width: 9rem;
	height: 4rem;
	padding-bottom: 0.2rem;
	cursor: pointer;
	margin-bottom: 1rem;
}

.navigation .sidebar .sidebar-category h1:hover {
	border-bottom: 1px solid white;
}

.sidebar-links {
	display: none;
}

.navigation .sidebar .sidebar-category .sidebar-links h4 {
	border-bottom: 0.7px solid black;
}

.navigation .sidebar .sidebar-category .sidebar-links h4:hover {
	border-bottom: 0.7px solid white;
	cursor: pointer;
}

.active {
	display: block;
}

/*--------------SEARCH-------------*/

.navbar .search-input {
	display: flex;
	width: 70rem;
	min-width: 20rem;
	justify-content: center;
	align-items: center;
}

.navbar .search-input h2 {
	margin-right: 1rem;
	font-weight: 700;
	align-self: center;
}
