.xinc-homepage {
	height: 100vh;
	width: 100vw;
	background-image: url("../assets/img/Homepage_Xinc.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
}

.xinc-homepage h5 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.xinc-homepage .hero-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transform: translateX(3rem);
	color: white;
	height: 80vh;
}

.xinc-homepage p {
	font-size: 10rem;
	transform: translateY(5rem);
}

.xinc-homepage h1 {
	color: white;
	font-size: 15rem;
	font-family: Prata;
}
.xinc-homepage h4 {
	font-size: 2rem;
	font-family: Rajdhani;
}

.xinc-homepage .xinc-buttons {
	transform: translateY(-3rem);
	width: 100%;
	display: flex;
	justify-content: space-around;
}
